# ---- Maven
target/
dependency-reduced-pom.xml
*.versionsBackup

# ---- IntelliJ IDEA
*.iml
.idea/

# ---- Eclipse
.classpath
.project
.settings

# --- VSCode
.factorypath
.vscode/

# ---- Sonar Scanners
.scannerwork
.sonar

# ---- Mac OS X
.DS_Store

# ---- Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

.mvn/.develocity/
